body {
  font-family: "NanumGothic";
}

.male {
  background-color: #007bff;
} /*class선택 지정*/
.female {
  background-color: #e43681;
}

ul {
  list-style: none;
}

#ceo {
  background-color: white;
} /*id 선택지정*/
